html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  vertical-align: top;
}

div.container-fluid {
  position: absolute;
  color: orange;
  /* border-radius: 15px; */
}

div.row {
  /* background-color: rgb(255, 255, 255, 0.3); */
}

div.pc-title {
  font-size: 5rem;
  text-align: center;
}

div.pc-content {
  font-size: 2rem;
  text-align: left;
}

#large, #complete, #lively, #rng, #imagery, #folk, #doll, #doorgod, #tigers, #textures, #serrations, #crescents, #maojiao, #worship, #witchcraft, #zhuyou, #newyear, #wish, #various, #language {
  display: none;
  opacity: 0;
}

/* not working */
.mark {
  background-color: lightblue;
}

.strong {
   font-weight: 600;
}
