html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  height: 100%;
  width: 100%;
  /* font-family: 'Ma Shan Zheng', cursive; */
  /* font-family: 'Noto Sans SC', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

canvas {
  display: block;
  vertical-align: top;
  height: 100%;
  width: 100%;
}

div#input-name {
  position: absolute;
  top: 20%;
  /* top: 40%; */
  left: 35%;
  width: 30%;
  z-index: 10;
  opacity: 70%;
  display: none;
  text-align: center;
}

/* .form-floating>label {
  width: 100%;
} */

.btn {
  width: 100%
}

div#hint {
  font-size: 1rem;
  color: white;
  text-align: center;
  width: 30%;
  left: 35%;
  top: 90%;
  position: relative;
  z-index: 10;
  display: none;
  /* padding-top: 10%; */
}

div#intro {
  font-family: cursive;
  font-size: 4rem;
  text-align: center;
  width: 50%;
  left: 25%;
  top: 42%;
  position: relative;
  z-index: 10;
  display: none;
  /* padding-top: 10%; */
}

div#intro-2 {
  opacity: 0.8
}

div#intro-3 {
  opacity: 0.6
}

div#intro-4 {
  opacity: 0.4
}

div.container-fluid {
  position: absolute;
  /* color: rgb(196, 162, 122); */
  color: rgb(255, 255, 255, 0.8);
  height: 100%;
  width: 100%;
  /* border-radius: 15px; */
}

div.layout-space {
  font-size: 5rem;
  text-align: center;
  /* height: 100%; */
  position: relative;
  /* padding-top: 10%; */
  height: 40%;
}

/* div.stage {
  font-size: 5rem;
  text-align: center;
  position: relative;
  height: 40%;
  display: none;
} */

div.pc-title {
  font-family: 'Times New Roman', Times, serif;

  font-size: 5.2rem;
  /* color: rgb(94, 64, 93, 0.3); */
  text-align: center;
  /* height: 100%; */
  position: sticky;
  top: 0;
  /* left: 50%; */
  /* top: 30%; */
}

span.title-cn {
  font-family: 'Ma Shan Zheng', cursive;
}

div.pc-chi {
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 100;
}

div.pc-content {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 2.0;
  /* color: rgb(230, 159, 53); */
  text-align: left;
  display: none;
}

#large,
#complete,
#lively,
#animism,
#imagery,
#folk,
#doll,
#doorgod,
#tigers,
#textures,
#serrations,
#crescents,
#maojiao,
#worship,
#witchcraft,
#zhuyou,
#newyear,
#wish,
#various,
#language {
  display: none;
  opacity: 0;
  height: 100%;
  width: 100%;
}

/* not working */
.mark {
  background-color: lightblue;
}

.strong {
  font-weight: 600;
}

div#prog-container {
  background-color: rgb(138, 37, 23);
  width: 65%;
  height: 30px;
  padding: 2px;

  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div#progbar {
  background-color: rgb(184, 168, 147);
}

/* div#loadingbar-container {
  background-color: rgb(94, 64, 93);
  width: 60%;
  height: 50px;
  padding: 10px;

  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div#loadingbar {
  background-color: rgb(230, 159, 53);
  width: 100%;
  height: 100%;
} */



*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.mouse_scroll {
  display: none;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  margin-top: 125px;

  z-index: 10;
  position: fixed;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
}


.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  /* rgb(196, 162, 122) */
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  margin: 0 0 3px 4px;
  opacity: 0.8;

  width: 32px;
  height: 32px;
}


.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
  animation: mouse-scroll 1s infinite;

}


.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;

  animation-delay: .3s;
  animation-direction: alternate;


  margin-top: -6px;
}


@keyframes mouse-scroll {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}
