html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  vertical-align: top;
}

div.container-fluid {
  position: absolute;
  color: orange;
  /* border-radius: 15px; */
}

div.row {
  /* background-color: rgb(255, 255, 255, 0.3); */
}

div.pc-title {
  font-size: 5rem;
  text-align: center;
}

div.pc-content {
  font-size: 2rem;
  text-align: left;
}

#large, #complete, #lively, #animism, #imagery, #folk, #doll, #doorgod, #tigers, #textures, #serrations, #crescents, #maojiao, #worship, #witchcraft, #zhuyou, #newyear, #wish, #various, #language {
  display: none;
  opacity: 0;
}

/* not working */
.mark {
  background-color: lightblue;
}

.strong {
   font-weight: 600;
}

div#loadingbar-container {
  background-color: rgb(94, 64, 93);
  width: 60%;
  height: 50px;
  padding: 10px;

  z-index: 10;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

div#loadingbar {
  background-color: rgb(230, 159, 53);
  width: 100%;
  height: 100%;
}
